.login-bg{
    background: linear-gradient(135deg,#0d6efd,#4dabf7);
}

.login-card{
    background: white;
    border-radius: 12px;
    overflow: hidden;
    max-width: 900px;
    width: 100%;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.login-img{
    background: #f8f9fa;
    padding: 40px;
}

.login-img img{
    width: 220px;
}

.login-img h3{
    font-weight: 600;
}

.login-img p{
    color: gray;
}