<<<<<<< HEAD
#imagem{
    width: 200px;
    height: 200px;
    border-radius: 50%;
=======
#imagem{
    width: 200px;
    height: 200px;
    border-radius: 50%;
>>>>>>> 22f1eeffe9d34595101221229caaaa202c77ac4b
}